body{
    background-color: rgb(10, 12, 12);
}


.warning{
    color: red;
    border: 5px solid red;
}

.contact-form{
    color: green;
}

#button_pos{
    position: relative;
    bottom: 56px;
    left: 555px;
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

.img_pos_2{
    position: absolute;
    left: 741px;
    bottom: 438px;
}